/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Global title/paragraph options */

.title {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.section-title {
  text-transform: capitalize;
  line-height: 1.11;
}

.skills-item-title,
.team-item-title,
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .accent-logo {
  color: #2e2f42;
}

.header-logo {
  padding: 24px 0;
  padding-right: 76px;
}

.footer-logo .accent-logo {
  color: #f4f4fd;
}

.hero-title {
  text-align: center;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover {
  color: #404bbf;
}

/* Hero Section */

.hero-container {
  display: block;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  display: block;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-bottom: 48px;
}

.section-hero {
  background: #2e2f42;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/* Section Skills */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 120px;
}

.skills-list {
  display: flex;
  gap: 24px;
}

.skills-title {
  display: none;
}

.skills-item-title {
  display: flex;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
}

/* Section Our Team */

.section-title {
  display: block;
  padding-bottom: 72px;
  padding-top: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.section-our-team {
  background-color: #f4f4fd;
}

.team-item {
  background: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-title {
  padding-bottom: 8px;
  padding-top: 32px;
}

.team-item-paragraph {
  text-align: center;
  padding-bottom: 32px;
}

/* Section Our Portfolio */

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  width: calc((100% - 48px) / 3);
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.footer-paragraph {
  color: #f4f4fd;
}
