/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Global title/paragraph options */

.title {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-title {
  text-transform: capitalize;
  line-height: 1.11;
}

.skills-item-title,
.team-item-title,
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Header */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .accent-logo {
  color: #2e2f42;
}

.footer-logo .accent-logo {
  color: #f4f4fd;
}

.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:focus,
.link-header:hover,
.link-header:focus,
.contacts-link:hover {
  color: #404bbf;
}

/* Hero Section */

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.section-hero {
  background: #2e2f42;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/* Section Skills */

/* Section Our Team */

.section-our-team {
  background-color: #f4f4fd;
}

.team-item {
  background: #ffffff;
}

/* Section Our Portfolio */

.portfolio-item {
  background: #fff;
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.footer-paragraph {
  color: #f4f4fd;
}
